/* You can add global styles to this file, and also import other style files */
// Import library functions for theme creation.
// @use "@angular/material" as mat;
@import "@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

// Define the application's custom theme
$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// Regular (light theme)
// Include theme styles for Angular Material components
// and include theme styles for your custom components.
@include angular-material-theme($theme);

// Define the application's dark theme
$primary-dark: mat-palette($mat-deep-purple);
$accent-dark: mat-palette($mat-green, A200, A100, A400);

// Use mat-dark-theme instead of mat-light-theme
$dark-theme: mat-dark-theme($primary-dark, $accent-dark);

.dark {
  @include angular-material-theme($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
